<!DOCTYPE html>
<html lang="en" ng-app="userForm">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>asdfinance</title>

    <!-- Bootstrap -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

    <link href="../../public/css/main.css" rel="stylesheet">
  </head>
  <body>
  	<div class="container-fluid">
  		<div class="row title-main">
	    	<h1 class = "col-sm-8 col-sm-offset-3 col-xs-6">Welcome to <span class="bit-font">asdfinance</span></h1>
	    </div>

	    <div class="row">
		    <h2 class="col-sm-10">Please enter your relevant financial inforomation so we can get you set up</h2>
		</div>

		<div class="row">
			<h3 class="col-sm-10">
		    	We will collect information about your overall budget and how you would like to break down your spending, so we can help you monitor it.
		    </h3>
		</div>

	    <div ng-controller="dataController" class="formContainer">	    		
		  <form novalidate class="form-horizontal">
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="total">Total:</label>
			    <div class="col-sm-6"> 
			      <input type="text" class="form-control" id="total" ng-model="user.total" placeholder="Enter total $ to spend">
			    </div>
			  </div>
			  <br />
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="food">Food:</label>
			    <div class="col-sm-6">
			      <input type="text" class="form-control" id="food" ng-model="user.food" placeholder="Enter % to spend">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="necessities">Necessities:</label>
			    <div class="col-sm-6"> 
			      <input type="text" class="form-control" id="necessities" ng-model="user.necessities" placeholder="Enter % to spend">
			    </div>
			  </div>
			  <div class="form-group">
			    <label class="control-label col-sm-2" for="entertainment">Entertainment:</label>
			    <div class="col-sm-6"> 
			      <input type="text" class="form-control" id="entertainment" ng-model="user.entertainment" placeholder="Enter % to spend">
			    </div>
			  </div>
			  <div class="form-group"> 
			    <div class="col-sm-offset-2 col-sm-6">
			      <button type="submit" class="btn btn-default" ng-click="update(user)">Submit</button>
			      <!--<button type="submit" class="btn btn-default" ng-click="reset()">Reset</button>-->
			    </div>
			  </div>
			</form>
			<div class="row">
			<div class="col-sm-offset-2 col-sm-6">
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
				  View my Budget Breakdown
				</button>
			</div>
		</div>
	</div>

	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="graphModal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title" id="graphModal">Your Breakdown</h4>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
	      		<div id="idealGraph" class="col-sm-6 graphContainer">
		      		<h4 class="centered"> Your Ideal Budget Breakdown </h4>
		        	<canvas id="idealPie" width="200" height="200"></canvas>
		        	<div class="checkbox">
					  <label><input id="idealAdvanced" type="checkbox" value="">Advanced Keyboard Display</label>
					</div>
		        </div>
		        <div id="actualGraph" class="col-sm-6 graphContainer">
		      		<h4 class="centered"> Your Actual Budget Breakdown </h4>
		        	<canvas id="actualPie" width="200" height="200"></canvas>
		        	<div class="checkbox">
					  <label><input id="actualAdvanced" type="checkbox" value="">Advanced Keyboard Display</label>
					</div>
		        </div>
		    </div>
		    <div class="row">
		    	<div id="compGraph" class="col-sm-12 graphContainer">
	        		<h4 class="centered"> Your Ideal Breakdown vs. Your Actual Breakdown </h4>
	        		<canvas id="compRadar" width="200" height="200"></canvas>
	        		<div class="checkbox">
					  <label><input id="compAdvanced" type="checkbox" value="">Advanced Keyboard Display</label>
					</div>
	        	</div>
	        </div>
	      </div>

	    </div>
	  </div>
	</div>
		</div>
		
	<script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../public/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
    <script src="../../public/js/angular.min.js"></script>
	
    <script src="../Controllers/form.js"></script>
    </script>
  </body>
</html>